@using WordCounter.Models;
@using GridMvc.Html;


@model List<WordCounter.Models.WordModel>
@{
    ViewBag.Title = "Word Frequency Calculator";
    //Layout = null;
    //var dict = (IDictionary<string, int>)ViewData["dict"];
    // dict = dict.OrderByDescending(key => key.Value).ToDictionary(key => key.Key, key => key.Value);
}





<h2>Calculate</h2>








@using (Html.BeginForm("Calculate",
                        "Home",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload file:</label>
    <input type="file" name="file" id="file" />
    <br>
    <br>

    <input type="submit" value="Upload File" />

    <br>
    <br>

    @ViewBag.Message
}







<div class="row">
    <div class="col-md-12">
        @Html.Grid(Model).Named("WordGrid").Columns(c =>
   {

       c.Add(x => x.word).Titled("Word").Filterable(true).Sortable(false);
       c.Add(x => x.wordCount).Titled("Word Count").Filterable(true).Sortable(true);


   }).WithPaging(10).EmptyText("No words found")
    </div>


</div>






@section styles{
    @Styles.Render("~/Content/Gridmvc")
}
@section scripts{
    @Scripts.Render("~/bundles/Gridmvc")
}






