@using WordCounter.Models;
@using System.Data;


@model List<WordModel>
@{
    ViewBag.Title = "Word Frequency Calculator";
    
}





<h2>Calculate</h2>








@using (Html.BeginForm("Calculate",
                        "Home",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload file:</label>
    <input type="file" name="file" id="file" />
    <br>
    <br>

    <input type="submit" value="Upload File" />

    <br>
    <br>

    @ViewBag.Message
}



<table class="table" display="hidden" id="datatable">  </table>

@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/af-2.3.5/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/af-2.3.5/datatables.min.js"></script>
    <script>
            
                           var m=@Html.Raw(Json.Encode(Model));

        $(document).ready(function () {
            $("#datatable").DataTable({
                data: m,
                "columns": [
                    { "data": 'word' },
                    { "data": 'wordCount' }
                ]


            });
        });
    </script>


}









